@model IEnumerable<ProjeFiles.Models.Users>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a href="/users/Create">Create New</a>
    </p>
    <form asp-controller="Users" asp-action="Index">
        <p>
            Name: <input type="text" name="search" />
            <input type="submit" value="Filter" />
        </p>


    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.userName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.userPass)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userPass)
                    </td>
                    <td>
                        <a href="/users/Edit/@item.guid">Edit</a> |
                        <a href="/users/Details/@item.guid">Details</a> |
                        <a href="/users/Delete/@item.guid">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
